## Building a baseline model

Import des librairies

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math 
import matplotlib.pyplot as plt

from sklearn.metrics import r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn import preprocessing
from sklearn.dummy import DummyClassifier

from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

Import du Dataset

In [4]:
immo_df = pd.read_csv("C:/Users/zaome/Documents/Arthuro/Projet_agent_immo/train_data.csv")
immo_df = immo_df.drop(columns=["Unnamed: 0"], axis=1)
immo_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
16507,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16508,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

Copie du Dataset

In [5]:
df_copy = immo_df.copy()

Shape du Dataset

In [6]:
df_copy.shape

(16512, 10)

Information sur le Dataset

In [7]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16336 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
 8   median_house_value  16512 non-null  float64
 9   ocean_proximity     16512 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.3+ MB

VÃ©rification des valeurs nulles

In [8]:
df_copy.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        176
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

GÃ©rer les Missing Values

In [9]:
total_bedrooms_median = math.floor(df_copy["total_bedrooms"].median())
total_bedrooms_median

435

In [10]:
df_copy["total_bedrooms"] = df_copy["total_bedrooms"].fillna(total_bedrooms_median)

In [11]:
df_copy.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [12]:
df_copy['total_bedrooms'].isna().sum()

0

Convertir les donnÃ©es catÃ©gorielles de la colonne "ocean_proximity"

In [13]:
label_encoder = LabelEncoder()
df_copy['ocean_proximity'] = label_encoder.fit_transform(df_copy['ocean_proximity'])

In [14]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16512 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
 8   median_house_value  16512 non-null  float64
 9   ocean_proximity     16512 non-null  int32
dtypes: float64(9), int32(1)
memory usage: 1.2 MB

Scaling the Column Values

In [15]:
col_names = df_copy.columns

In [16]:
scaler = preprocessing.StandardScaler()

In [17]:
df_copy_scaled = scaler.fit_transform(df_copy)
df_copy_scaled = pd.DataFrame(df_copy_scaled, columns=col_names)

In [18]:
df_copy_scaled.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-0.137635,0.534564,-1.795939,-0.357368,-0.154134,-0.032827,-0.218173,-1.258403,-1.167387,-0.117270
1,0.879836,-0.909979,-1.637178,-0.276515,-0.447238,-0.494784,-0.417841,1.610623,0.586611,-0.820378
2,-0.312201,0.455091,-0.287715,-0.799127,-0.766343,-0.435204,-0.744572,-1.220425,-1.286288,-0.117270
3,0.620480,-0.713633,0.188566,-0.913406,-0.730887,-0.723603,-0.710862,-1.233736,-0.056493,-0.820378
4,-0.830911,1.011403,-0.605236,-0.326201,-0.390508,-0.263373,-0.334862,0.114837,-0.769028,-0.117270

Dummy model

In [19]:
# define X, y
X = df_copy_scaled.drop("median_house_value", axis=1)
y = df_copy_scaled["median_house_value"]

In [20]:
df_copy.columns.values

array(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'], dtype=object)

In [21]:
# instantiate Dummy classifier
dummy_clf = DummyClassifier(strategy="most_frequent")

In [22]:
# fit the modem
dummy_clf.fit(X, y)

DummyClassifier(strategy='most_frequent')

In [23]:
# calculate the score
#dummy_clf.score(X, y)

Affichage

In [24]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-0.137635,0.534564,-1.795939,-0.357368,-0.154134,-0.032827,-0.218173,-1.258403,-0.117270
1,0.879836,-0.909979,-1.637178,-0.276515,-0.447238,-0.494784,-0.417841,1.610623,-0.820378
2,-0.312201,0.455091,-0.287715,-0.799127,-0.766343,-0.435204,-0.744572,-1.220425,-0.117270
3,0.620480,-0.713633,0.188566,-0.913406,-0.730887,-0.723603,-0.710862,-1.233736,-0.820378
4,-0.830911,1.011403,-0.605236,-0.326201,-0.390508,-0.263373,-0.334862,0.114837,-0.117270

In [25]:
y.head()

0   -1.167387
1    0.586611
2   -1.286288
3   -0.056493
4   -0.769028
Name: median_house_value, dtype: float64

Split du Dataset

In [26]:
# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.2, 
                                                    random_state=1)

In [27]:
X_train.shape

(13209, 9)

In [28]:
y_train.shape

(13209,)

In [29]:
X_test.shape

(3303, 9)

In [30]:
y_test.shape

(3303,)

Linear Regression

In [77]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
lin_reg.fit(X_test, y_test)

LinearRegression()

In [78]:
lin_reg.score(X_train, y_train)

0.6346075692359505

In [79]:
lin_reg.score(X_test, y_test)

0.6354461622913016

Random Forest Regressor

In [41]:
from sklearn.ensemble import RandomForestRegressor

random_model = RandomForestRegressor(max_depth=5, random_state=0)
random_model.fit(X_train, y_train)

acc_random_model = random_model.score(X_test, y_test) 

print(acc_random_model)

0.784699065111681

Train le model

In [82]:
random_model = RandomForestRegressor(random_state=0)
random_model.fit(X_train, y_train)
acc_random_model = random_model.score(X_test, y_test) 
print(acc_random_model)

0.8022423322573339

In [88]:
from sklearn.decomposition import PCA

pcamodel = PCA(8)
pca = pcamodel.fit_transform(X_train)
print(pca.shape)


# number of components
n_pcs= pcamodel.components_.shape[0]

# get the index of the most important feature of each component
most_important = [np.abs(pcamodel.components_[i]).argmax() for i in range(n_pcs)]

# extract the column names frmo the dataframe
initial_feature_names = df_copy.columns.values

# get the names based on the principal component analysis
most_important_names = [initial_feature_names[most_important[i]] for i in range(n_pcs)]

# pack the result into a dataframe
dic = {'PC{}'.format(i): most_important_names[i] for i in range(n_pcs)}
df = pd.DataFrame(dic.items())

print('variance ration of each feature:', pcamodel.explained_variance_ratio_)
print('features:', most_important_names)
print(df)

(11558, 8)

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

Kmeans

In [67]:
from sklearn.cluster import KMeans

In [68]:
# kmeans / fit / predict (nombre de clusters : 3) / dataset avec colonne "clusters"
kmeans = KMeans(3)
df_copy['clusters'] = kmeans.fit_predict(df_copy)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

RobustScaler

In [69]:
from sklearn.preprocessing import RobustScaler
# robust scaler
scaler = RobustScaler() 
df_copy = scaler.fit_transform(X)

In [84]:
scaler

RobustScaler()

Preprocessing

In [34]:
columns = ['longitude', 'latitude', 'housing_median_age', 'total_rooms','total_bedrooms', 'population', 'households', 'median_income']

Min et Max

In [35]:
min_max = preprocessing.MinMaxScaler()
df_copy[columns] = min_max.fit_transform(df_copy[columns])

df_copy.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,0.449203,0.449522,0.098039,0.046981,0.073103,0.039071,0.068257,0.067709,72000.0,1
1,0.652390,0.121148,0.137255,0.051534,0.053857,0.024076,0.055592,0.442297,274100.0,0
2,0.414343,0.431456,0.470588,0.022104,0.032904,0.026010,0.034868,0.072668,58300.0,1
3,0.600598,0.165781,0.588235,0.015669,0.035232,0.016648,0.037007,0.070930,200000.0,0
4,0.310757,0.557917,0.392157,0.048736,0.057582,0.031587,0.060855,0.247003,117900.0,1

In [83]:
min_max

MinMaxScaler()

RMSE

In [89]:
from sklearn.metrics import mean_squared_error

housing_predictions = df_copy.predict(X_train)
lin_mse = mean_squared_error(y_train, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

AttributeError: 'numpy.ndarray' object has no attribute 'predict'